In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import csv
import pandas as pd
from time import sleep
import time

In [4]:
br = webdriver.Edge()

fields = ['Symbol',	'Name',	'Price (Intraday)',
          	'Change',	'% Change',	'Volume',
            'Avg Vol (3 month)',  'Market Cap',
            'PE Ratio (TTM)',	'52 Week Range']

df = []
offset = 0
while True:
    try:
        br.get(f'https://finance.yahoo.com/screener/unsaved/344d9065-e9e0-4f4a-8284-f97aeb6506d2?offset={offset}&count=100')
    except:
         break
    sleep(1)
    
    try:
        tb = br.find_element(By.XPATH ,'.//*[@id="scr-res-table"]/div[1]/table')
    except:
        break
    sleep(1)
    
    rows = tb.find_elements(By.XPATH, ".//tbody/tr")

    for row in range(1,len(rows)+1):
            temp = {}
            for col in range(1,11):
                value = tb.find_element(By.XPATH, f".//tbody/tr[{row}]/td[{col}]").text
                temp[fields[col-1]] = value

            df.append(temp)
    offset += 100
br.close()

In [5]:
pd.DataFrame(df)

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,5128.T,WOW WORLD GROUP Inc.,"1,502.00",+1.00,+0.07%,"7,100",0,6.064B,N/A,
1,7203.T,Toyota Motor Corporation,"2,022.00",-28.00,-1.37%,41.063M,26.17M,27.429T,11.26,
2,6861.T,Keyence Corporation,"69,400.00","-1,600.00",-2.25%,"930,000","600,652",16.831T,47.79,
3,6758.T,Sony Group Corporation,"13,605.00",-270.00,-1.95%,4.865M,3.393M,16.796T,18.01,
4,9432.T,Nippon Telegraph and Telephone Corporation,"4,107.00",-23.00,-0.56%,9.039M,5.598M,14.051T,12.16,
...,...,...,...,...,...,...,...,...,...,...
195,2702.T,"McDonald's Holdings Company (Japan), Ltd.","5,690.00",-40.00,-0.70%,"591,400","476,631",756.537B,37.90,
196,7747.T,"Asahi Intecc Co., Ltd.","2,771.50",-118.50,-4.10%,1.226M,"715,868",752.811B,53.91,
197,5332.T,Toto Ltd.,"4,425.00",-117.00,-2.58%,"744,000","572,257",750.246B,17.06,
198,6465.T,Hoshizaki Corporation,"5,174.00",+3.00,+0.06%,"471,500","262,536",749.511B,30.81,
199,3635.T,"Koei Tecmo Holdings Co., Ltd.","2,373.50",-25.00,-1.04%,"522,700","723,347",747.567B,39.75,

In [ ]:
# filename = "ListingCompany.csv"

# with open(filename, 'w', encoding= 'utf-8', newline= '') as csvfile:
#     writer = csv.DictWriter(csvfile, fields,lineterminator = '\r')
#     writer.writeheader()
#     writer.writerows(df)